#define ZMK_POINTING_DEFAULT_MOVE_VAL 1400  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 40    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#define STRINGIFY(x) #x
#define EXPAND_AND_STRINGIFY(x) STRINGIFY(x)

#define KEYS_NONE
#define HYPER LS(LC(LA(LGUI)))

#define KEYS_LEFT   0 1 2 3 4 5 6 \
                    14 15 16 17 18 19 20 \
                    28 29 30 31 32 33 34 \
                    46 47 48 49 50 51 \
                    60 61 62 63 64

#define KEYS_RIGHT  7 8 9 10 11 12 13 \
                    21 22 23 24 25 26 27 \
                    39 40 41 42 43 44 45 \
                    54 55 56 57 58 59 \
                    71 72 73 74 75

#define THUMBS_LEFT 35 36 52 65 66 67

#define THUMBS_RIGHT 37 38 53 68 69 70

#define THUMBS THUMBS_LEFT THUMBS_RIGHT

#define MORPH(ID, LOWER, UPPER, MRPH) \
    ID: mod_morph_##ID { \
        compatible = "zmk,behavior-mod-morph"; \
        #binding-cells = <0>; \
        bindings = <&kp LOWER>, <&kp UPPER>; \
        mods = <(MRPH)>; \
    };

#define SUPER(ID, FIRST, SECOND, TERM, QTAP, RPI, KEYS, FLAVE) \
    ID: mod_tap_##ID { \
        compatible = "zmk,behavior-hold-tap"; \
        quick_tap_ms = <QTAP>; \
        tapping-term-ms = <TERM>; \
        flavor = FLAVE; \
        #binding-cells = <2>; \
        bindings = <&FIRST>, <&SECOND>; \
        require-prior-idle-ms = <RPI>; \
        hold-trigger-key-positions = <KEYS>; \
    };

&sk {
    quick-release;
    release-after-ms = <500>;
    /delete-property/ ignore-modifiers;
};

&soft_off {
    hold-time-ms = <2000>;
};

&caps_word {
    continue-list = <UNDERSCORE SEMI PIPE AMPS MINUS BACKSPACE DELETE LSHFT RSHFT>;
};

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        SUPER(lkp, mo, kp,        140, 185, 0, KEYS_NONE, "hold-preferred")
        SUPER(kpp, kp, kp,        140, 0,   0, KEYS_NONE, "hold-preferred")
        SUPER(lcw, mo, caps_word, 140, 0,   0, KEYS_LEFT  THUMBS_LEFT, "hold-preferred")

        SUPER(kpr, kp, kp, 140, 185, 0, KEYS_LEFT  THUMBS_LEFT,  "tap-preferred")
        SUPER(kpl, kp, kp, 140, 0,   0, KEYS_RIGHT THUMBS_RIGHT, "tap-preferred")

        MORPH(one,   EXCL,   N1, MOD_LSFT|MOD_RSFT)
        MORPH(two,   AT,     N2, MOD_LSFT|MOD_RSFT)
        MORPH(three, HASH,   N3, MOD_LSFT|MOD_RSFT)
        MORPH(four,  DOLLAR, N4, MOD_LSFT|MOD_RSFT)
        MORPH(five,  PRCNT,  N5, MOD_LSFT|MOD_RSFT)
        MORPH(six,   CARET,  N6, MOD_LSFT|MOD_RSFT)
        MORPH(seven, AMPS,   N7, MOD_LSFT|MOD_RSFT)
        MORPH(eight, ASTRK,  N8, MOD_LSFT|MOD_RSFT)
        MORPH(nine,  LPAR,   N9, MOD_LSFT|MOD_RSFT)
        MORPH(zero,  RPAR,   N0, MOD_LSFT|MOD_RSFT)
    };

    keymap {
        compatible = "zmk,keymap";

        /* default_layer { */
            /* display-name = "Def"; */
            /* bindings = < */
                /* &none   &none       &none   &none    &none      &none       &trans                                      &trans  &none     &none       &none     &none     &none     &none */
                /* &none &kp Q      &kp W      &kp E     &kp R        &kp T  &kp RIGHT                                                          &kp UP   &kp Y  &kp U        &kp I      &kp O     &kp P         &none */
                /* &none &lkpl 6 A  &lkpl 5 S  &lkpl 4 D &kpl LSHFT F &kp G  &kp LEFT    &lcw LGUI 0 &kp HYPER   &kp HYPER &kpp RGUI DEL        &kp DOWN &kp H  &kpr RSHFT J &lkpr 4 K  &lkpr 5 L &lkpr 6 SEMI  &none */
                /* &none &kp Z      &kp X      &kp C     &kp V        &kp B                          &lkp 1 HOME &lkp 1 PG_UP                            &kp N  &kp M        &kp COMMA  &kp DOT   &kp FSLH      &none */
                /* &none &kp TAB    &kp SQT    &kp BSLH  &kp EQUAL    &hmt LALT SPACE &kpp LCTRL ESC &lkp 3 END  &lkp 2 PG_DN &kpp RCTRL ENTER &hmt RALT BSPC   &kp MINUS    &kp LBKT   &kp RBKT  &kp GRAVE     &none */
            /* >; */
        /* }; */
        default_layer {
            display-name = "Def";
            bindings = <
                &none  &kp N1   &kp N2     &kp N3    &kp N4       &kp N5 &mo 3                                                             &mo 2    &kp N6 &kp N7       &kp N8     &kp N9   &kp N0    &none
                &kp LALT  &kp Q    &kp W      &kp E     &kp R        &kp T  &kp RIGHT                                                      &kp UP   &kp Y  &kp U        &kp I      &kp O    &kp P     &kp RALT
                &kp LSHFT &kp A    &kp S      &kp D     &kp F        &kp G  &kp LEFT    &lcw 1 0     &mo 3     &mo 2 &lkp 1 DEL            &kp DOWN &kp H  &kp J        &kp K      &kp L    &kp SEMI  &kp RSHFT
                &kp LCTRL  &kp Z    &kp X      &kp C     &kp V       &kp B                           &kp LGUI  &kp RGUI                             &kp N  &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp RCTRL
                &kp LGUI  &kp TAB  &kp SQT    &kp BSLH  &kp EQUAL    &kpl LSHFT SPACE &kpp LCTRL ESC &kp LALT  &kp RALT  &kpp RCTRL ENTER &kpr RSHFT BSPC  &kp MINUS    &kp LBKT   &kp RBKT &kp GRAVE &kp RGUI
            >;
        };
        fun {
            display-name = "Fun";
            bindings = <
                &kp F10         &kp F1    &kp F2         &kp F3       &kp F4          &kp F5           &kp C_PP                                 &kp C_MUTE    &kp F6       &kp F7       &kp F8       &kp F9        &kp F10   &kp F12
                &macro_backtick &kp LALT  &kp LA(LEFT)   &kp LA(DOWN) &kp LA(UP)      &kp LA(RIGHT)    &kp C_NEXT                               &kp C_VOL_UP  &kp RC(LEFT) &kp RC(DOWN) &kp RC(UP)   &kp RC(RIGHT) &kp RALT  &macro_block
                &macro_parens   &kp LSHFT &mmv MOVE_LEFT &mmv MOVE_UP &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp C_PREV  &trans &trans &trans &trans  &kp C_VOL_DN  &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT     &kp RSHFT &macro_braces
                &macro_quotes   &kp LCTRL &kp LG(LEFT)   &kp LG(DOWN) &kp LG(UP)      &kp LG(RIGHT)                     &mkp MB1 &mkp MB1                     &kp HOME     &kp PG_DN    &kp PG_UP    &kp END       &kp RCTRL &macro_dquotes
                &macro_angles   &kp LGUI  &kp  C_PP      &kp C_PREV   &kp C_NEXT                          &trans &trans &mkp MB2 &mkp MB2 &trans &trans                    &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE    &kp RGUI  &macro_brackets
            >;
        };
        mod {
            display-name = "Mod";
            bindings = <
                &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bl BL_TOG                              &bl BL_TOG &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_CLR
                &bootloader &none        &none        &none        &none        &none        &bl BL_SET 5                            &bl BL_INC &none         &none         &none         &none         &none         &bootloader
                &sys_reset  &none        &none        &none        &none        &none        &bl BL_CYCLE  &none &none &none &none   &bl BL_DEC &none         &none         &none         &none         &none         &sys_reset
                &none       &none        &none        &none        &none        &none                            &none &none                    &none         &none         &none         &none         &none         &none
                &none       &none        &none        &bl BL_OFF   &bl BL_ON                         &none &none &none &none &none &none                      &bl BL_DEC    &bl BL_INC    &none         &none         &none
            >;
        };
        num {
            display-name = "Pad";
            bindings = <
                &none  &trans  &trans  &trans  &trans  &trans &none                                                          &none &none &kp KP_NUM     &kp KP_DIVIDE   &kp KP_MULTIPLY &kp KP_EQUAL  &none
                &none  &trans  &trans  &trans  &trans  &trans &none                                                          &none &none &kp KP_N7      &kp KP_N8       &kp KP_N9       &kp KP_MINUS  &none
                &none  &trans  &trans  &trans  &trans  &trans &none             &trans &trans &trans &trans                  &none &none &kp KP_N4      &kp KP_N5       &kp KP_N6       &kp KP_PLUS   &none
                &none  &trans  &trans  &trans  &trans  &trans                          &trans &trans                               &none &kp KP_N1      &kp KP_N2       &kp KP_N3       &kp KP_ENTER  &none
                &none  &trans  &trans  &trans  &trans                     &trans &trans &none  &trans &trans &trans                      &kp KP_COMMA   &kp KP_NUMBER_0 &kp KP_DOT      &kp KP_ENTER  &none
            >;
        };
        /* sym { */
            /* display-name = "Sym"; */
            /* bindings = < */
                /* &none   &none       &none   &none    &none      &none       &trans                                      &trans  &none     &none       &none     &none     &none     &none */
                /* &none   &kp EXCL    &kp AT  &kp HASH &kp DOLLAR &kp PERCENT &trans                                      &trans  &kp CARET &kp AMPS    &kp STAR  &kp LPAR  &kp RPAR  &none */
                /* &none   &kp TAB     &kp SQT &kp BSLH &kp EQUAL  &none       &trans   &trans &trans &trans &trans        &trans  &none     &kp MINUS   &kp LBKT  &kp RBKT  &kp GRAVE &none */
                /* &none   &caps_word  &kp DQT &kp PIPE &kp PLUS   &none                       &trans &trans                       &none     &kp UNDER   &kp LBRC  &kp RBRC  &kp TILDE &none */
                /* &none   &none       &none   &none    &none                   &trans &trans &trans &trans &trans &trans                    &none       &none     &none     &none     &none */
            /* >; */
        /* }; */
        /* pad { */
            /* display-name = "Pad"; */
            /* bindings = < */
                /* &none  &none           &none   &none   &none   &none  &none                                                          &none &none        &none     &none     &none      &none           &none */
                /* &none  &kp KP_DOT      &kp F9  &kp F8  &kp F7  &trans &none                                                          &none &kp KP_NUM   &kp KP_N7 &kp KP_N7 &kp KP_N9  &kp KP_MINUS    &none */
                /* &none  &kp KP_MULTIPLY &kp F6  &kp F5  &kp F4  &trans &none             &trans &trans &trans &trans                  &none &kp KP_EQUAL &kp KP_N4 &kp KP_N5 &kp KP_N6  &kp KP_NUMBER_0 &none */
                /* &none  &kp KP_DIVIDE   &kp F3  &kp F2  &kp F1  &trans                          &trans &trans                               &kp KP_ENTER &kp KP_N1 &kp KP_N2 &kp KP_N3  &kp KP_PLUS     &none */
                /* &none  &none           &none   &none   &none                     &trans &trans &trans &trans &trans &trans                              &none     &none     &none      &none           &none */
            /* >; */
        /* }; */
        /* nav { */
            /* display-name = "Nav"; */
            /* bindings = < */
                /* &none  &none     &none         &none         &none           &none            &none                                              &none  &none        &none        &none        &none         &none      &none */
                /* &none  &kp LALT  &kp LA(LEFT)   &kp LA(DOWN) &kp LA(UP)      &kp LA(RIGHT)    &none                                              &none  &kp RC(LEFT) &kp RC(DOWN) &kp RC(UP)   &kp RC(RIGHT) &kp RALT   &none */
                /* &none  &kp LSHFT &mmv MOVE_LEFT &mmv MOVE_UP &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none        &mkp MB3 &trans &trans &mkp MB3       &none  &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT     &kp RSHFT  &none */
                /* &none  &kp LCTRL &kp LG(LEFT)   &kp LG(DOWN) &kp LG(UP)      &kp LG(RIGHT)                         &trans &trans                        &kp HOME     &kp PG_DN    &kp PG_UP    &kp END       &kp RCTRL  &none */
                /* &none  &none     &none          &none        &none                               &mkp MB1 &mkp MB2 &trans &trans &mkp MB2 &mkp MB1                   &none        &none        &none         &none      &none */
            /* >; */
        /* }; */
    };
};
