#define ZMK_POINTING_DEFAULT_MOVE_VAL 1400  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 40    // default: 10
#define USER_CONFIG_DEFAULT_KEYMAP 1 // default: keymaps

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include "plugin/overrides.dtsi"
#include "keys.dtsi"

/ {
    behaviors {
        #include "plugin/definitions.dtsi"
        #include "plugin/declarations.dtsi"
        #include "plugin/macros.dtsi"
        #include "version.dtsi"
    };

#ifdef USER_CONFIG_DEFAULT_KEYMAP
    keymap {
        compatible = "zmk,keymap";

        default_base {
            display-name = "Def-Base";
            bindings = <
                &lkp  4 PSCRN &kp N1     &kp N2    &kp N3    &kp N4     &kp N5    &mo 3                                                                           &mo 4           &kp N6  &kp N7     &kp N8     &kp N9      &kp N0      &lkp 4 BSPC
                &lcwm 5 0     &kp Q      &kp W     &kp E     &kp R      &kp T     &kp RIGHT                                                                       &kp UP          &kp Y   &kp U      &kp I      &kp O       &kp P       &lkp 5 DEL
                &lkp  6 TAB   &kp A      &kp S     &kp D     &kp F      &kp G     &kp LEFT         &kpp LGUI DEL &mo  4      &mo  4       &lcwp RALT 0            &kp DOWN        &kp H   &kp J      &kp K      &kp L       &kp SEMI    &lkp 6 SQT
                &lkp  3 ESC   &kp Z      &kp X     &kp C     &kp V      &kp B                                    &lkp 3 END  &lkp 3 PG_UP                                         &kp N   &kp M      &kp COMMA  &kp DOT     &kp FSLH    &lkp 3 ENTER
                &mo   8       &kp TAB    &kp GRAVE &kp BSLH  &kp EQUAL            &kpl LSHFT BSPC &kpp LCTRL ESC &lkp 6 HOME &lkp 6 PG_DN &kpp RCTRL ENTER &kpr RSHFT SPACE               &kp MINUS  &kp LBKT   &kp RBKT    &kp SQT     &mo 8
            >;
        };
        default_win {
            display-name = "Def-Win";
            bindings = <
                &trans       &trans  &trans  &trans  &trans   &trans    &trans                                                &trans &trans  &trans  &trans  &trans   &trans    &trans
                &trans       &trans  &trans  &trans  &trans   &trans    &trans                                                &trans &trans  &trans  &trans  &trans   &trans    &trans
                &lkp 6 TAB   &trans  &trans  &trans  &trans   &trans    &trans         &trans &trans &trans &trans            &trans &trans  &trans  &trans  &trans   &trans    &lkp 6 SQT
                &trans       &trans  &trans  &trans  &trans   &trans                          &trans &trans                          &trans  &trans  &trans  &trans   &trans    &trans
                &trans       &trans  &trans  &trans  &trans                &trans &trans &lkp 6 HOME &lkp 6 PG_DN &trans &trans              &trans  &trans  &trans   &trans    &trans
            >;
        };
        default_mac {
            display-name = "Def-Mac";
            bindings = <
                &trans       &trans  &trans  &trans  &trans   &trans    &trans                                                &trans &trans  &trans  &trans  &trans   &trans    &trans
                &trans       &trans  &trans  &trans  &trans   &trans    &trans                                                &trans &trans  &trans  &trans  &trans   &trans    &trans
                &lkp 7 TAB   &trans  &trans  &trans  &trans   &trans    &trans         &trans &trans &trans &trans            &trans &trans  &trans  &trans  &trans   &trans    &lkp 7 SQT
                &trans       &trans  &trans  &trans  &trans   &trans                          &trans &trans                          &trans  &trans  &trans  &trans   &trans    &trans
                &trans       &trans  &trans  &trans  &trans                &trans &trans &lkp 7 HOME &lkp 7 PG_DN &trans &trans              &trans  &trans  &trans   &trans    &trans
            >;
        };
        default_num {
            display-name = "Def-Num";
            bindings = <
                &none  &none  &none          &msc SCRL_UP   &none           &none &none                                                          &none &none &kp KP_NUM     &kp KP_DIVIDE   &kp KP_MULTIPLY &kp KP_EQUAL  &none
                &none  &none  &msc SCRL_LEFT &mmv MOVE_UP   &msc SCRL_RIGHT &none &none                                                          &none &none &kp KP_N7      &kp KP_N8       &kp KP_N9       &kp KP_MINUS  &none
                &none  &none  &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none             &mkp 3 &none &none &mkp 3                    &none &none &kp KP_N4      &kp KP_N5       &kp KP_N6       &kp KP_PLUS   &none
                &none  &none  &none          &msc SCRL_DOWN &none           &none                          &none &none                                 &none &kp KP_N1      &kp KP_N2       &kp KP_N3       &kp KP_ENTER  &none
                &none  &none  &none          &none          &none                            &mkp 1 &mkp 2 &none &none &mkp 2 &mkp 1                         &kp KP_COMMA   &kp KP_NUMBER_0 &kp KP_DOT      &kp KP_ENTER  &none
            >;
        };
        default_mod {
            display-name = "Def-Mod";
            bindings = <
                &bt BT_CLR  &pfl0        &pfl1        &pfl2        &pfl3        &pfl4        &bl BL_TOG                              &bl BL_TOG &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_CLR
                &bootloader &none        &none        &none        &none        &none        &bl BL_SET 5                            &bl BL_INC &none         &none         &none         &none         &none         &bootloader
                &sys_reset  &none        &none        &none        &none        &none        &bl BL_CYCLE  &none &none &none &none   &bl BL_DEC &none         &none         &none         &none         &none         &sys_reset
                &none       &none        &none        &none        &none        &none                            &none &none                    &none         &none         &none         &none         &none         &none
                &none       &none        &none        &bl BL_OFF   &bl BL_ON                         &none &none &none &none &none &none                      &bl BL_DEC    &bl BL_INC    &none         &none         &none
            >;
        };
        default_med {
            display-name = "Def-Med";
            bindings = <
                &none &none                &none                   &none              &none                 &none                  &none                             &none  &none       &none          &none         &none          &none                &none
                &none &kp C_AL_JOURNAL     &kp C_AL_WORD           &kp C_AL_EMAIL     &kp C_AL_TEXT_EDITOR  &kp C_AL_TASK_MANAGER  &none                             &none  &kp C_RW    &kp C_PAUSE    &kp C_PLAY    &kp C_FF       &kp C_STOP_EJECT     &none
                &none &kp C_AL_CALC        &kp C_AL_SHEET          &kp C_AL_DOCS      &kp C_AL_FILES        &kp C_AL_TEXT_EDITOR   &none  &trans &none &none &trans  &none  &kp C_PREV  &kp C_VOL_DN   &kp C_VOL_UP  &kp C_NEXT     &kp C_MUTE           &none
                &none &kp C_AL_IMAGES      &kp C_AL_CONTROL_PANEL  &kp C_AL_CAL       &kp C_AL_MUSIC        &kp C_AL_WWW                        &none &none                 &kp C_REC   &kp C_SHUFFLE  &kp C_REPEAT  &kp C_CAPTIONS &kp C_DATA_ON_SCREEN &none
                &none &kp C_AL_SELECT_TASK &kp C_AL_HELP           &kp C_AL_PREV_TASK &kp C_AL_NEXT_TASK                          &trans &trans &none &none &trans &trans               &kp C_BRI_DN   &kp C_BRI_UP  &kp C_SNAPSHOT &none                &none
            >;
        };
        win_nav {
            display-name = "Nav-Win";
            bindings = <
                &kp F10         &kp F1               &kp F2             &kp F3              &kp F4          &kp F5       &kp C_PP                                 &kp C_MUTE    &kp F6       &kp F7          &kp F8          &kp F9         &kp F10  &kp F12
                &macro_backtick &kp LA(F4)           &Win_Select_Word   &macro_kill_to_end  &kp LC(BSPC)    &kp LC(HOME) &kp C_NEXT                               &kp C_VOL_UP  &kp RC(LEFT) &kp RC(DOWN)    &kp RC(UP)      &kp RC(RIGHT)  &none    &macro_block
                &macro_parens   &macro_kill_to_start &macro_select_line &macro_kill_line    &kp LC(DEL)     &kp LC(A)    &kp C_PREV  &trans &trans &trans &trans  &kp C_VOL_DN  &kp LEFT     &kp DOWN        &kp UP          &kp RIGHT      &none    &macro_braces
                &macro_quotes   &Win_Undo            &Win_Cut           &Win_Copy           &Win_Paste      &kp LC(END)                     &trans &trans                       &kp HOME     &kp PG_DN       &kp PG_UP       &kp END        &none    &macro_dquotes
                &macro_angles   &none                &macro_fatarrow    &macro_join_pln     &macro_join_nln                   &trans &trans &trans &trans &trans &trans                      &macro_open_dln &macro_open_uln &macro_arrow   &none    &macro_brackets
            >;
        };
        mac_nav {
            display-name = "Nav-Mac";
            bindings = <
                &kp F10         &kp F1               &kp F2             &kp F3              &kp F4           &kp F5       &kp C_PP                                 &kp C_MUTE    &kp F6       &kp F7          &kp F8          &kp F9         &kp F10  &kp F12
                &macro_backtick &kp LG(Q)            &Mac_Select_Word   &macro_kill_to_end  &kp LA(BSPC)     &kp LG(UP)   &kp C_NEXT                               &kp C_VOL_UP  &kp RA(LEFT) &kp RA(DOWN)    &kp RA(UP)      &kp RA(RIGHT)  &none    &macro_block
                &macro_parens   &macro_kill_to_start &macro_select_line &macro_kill_line    &kp LA(DEL)      &kp LG(A)    &kp C_PREV  &trans &trans &trans &trans  &kp C_VOL_DN  &kp LEFT     &kp DOWN        &kp UP          &kp RIGHT      &none    &macro_braces
                &macro_quotes   &Mac_Undo            &Mac_Cut           &Mac_Copy           &Mac_Paste       &kp LG(DOWN)                     &trans &trans                      &kp RG(LEFT) &kp PG_DN       &kp PG_UP       &kp RG(RIGHT)  &none    &macro_dquotes
                &macro_angles   &none                &macro_fatarrow    &macro_join_pln     &macro_join_nln                     &trans &trans &trans &trans &trans &trans                     &macro_open_dln &macro_open_uln &macro_arrow   &none    &macro_brackets
            >;
        };
    };
#else
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Def-Base";
            bindings = <
                &none         &none        &none       &none       &none        &none     &none                                                          &none   &none   &none         &none       &none       &none           &none
                &lcwm 5 0     &kp Q        &kp W       &kp E       &kp R        &kp T     &none                                                          &none   &kp Y   &kp U         &kp I       &kp O       &kp P           &lkp 5 DEL
                &lkp  7 TAB   &hml HYPER A &hml LGUI S &hml LALT D &hml LCTRL F &kp G     &none           &lkp 6 TAB &none &none &lkp DEL 6              &none   &kp H   &hmr RCTRL J  &hmr RALT K &hmr RGUI L &hmr HYPER SEMI &lkp 7 SQT
                &lkp  4 BSLH  &kp Z        &kp X       &kp C       &kp V        &kp B                                &none &none                                 &kp N   &kp M         &kp COMMA   &kp DOT     &kp FSLH        &lkp 4 GRAVE
                &none         &none        &none       &none       &none                  &kpl LSHFT BSPC &lkp 3 ESC &none &none &lkp 3 ENTER &kpr RSHFT SPACE           &none         &none       &none       &none           &none
            >;
        };
        default_win {
            display-name = "Def-Win";
            bindings = <
                &none        &none   &none   &none   &none    &none     &none                                                 &none  &none   &none   &none   &none    &none     &none
                &trans       &trans  &trans  &trans  &trans   &trans    &none                                                 &none  &trans  &trans  &trans  &trans   &trans    &trans
                &lkp 7 TAB   &trans  &trans  &trans  &trans   &trans    &none          &trans &none &none &trans              &none  &trans  &trans  &trans  &trans   &trans    &lkp 7 SQT
                &trans       &trans  &trans  &trans  &trans   &trans                          &none &none                            &trans  &trans  &trans  &trans   &trans    &trans
                &none        &none   &none   &none   &none                      &trans &trans &none &none &trans &trans                      &none   &none   &none    &none     &none
            >;
        };
        default_mac {
            display-name = "Def-Mac";
            bindings = <
                &none        &none   &none   &none   &none    &none     &none                                                &none  &none   &none   &none   &none    &none     &none
                &trans       &trans  &trans  &trans  &trans   &trans    &none                                                &none  &trans  &trans  &trans  &trans   &trans    &trans
                &lkp 8 TAB   &trans  &trans  &trans  &trans   &trans    &none          &trans &none &none &trans             &none  &trans  &trans  &trans  &trans   &trans    &lkp 8 SQT
                &trans       &trans  &trans  &trans  &trans   &trans                          &none &none                            &trans &trans  &trans  &trans   &trans    &trans
                &none        &none   &none   &none   &none                     &trans &trans  &none &none &trans &trans                     &none   &none   &none    &none     &none
            >;
        };
        default_sym {
            display-name = "Def-Sym";
            bindings = <
                &none  &none        &none      &none      &none      &none      &none                                 &none &none      &none         &none        &none        &none         &none
                &trans &kp N1       &kp N2     &kp N3     &kp N4     &kp N5     &none                                 &none &kp N6     &kp N7        &kp N8       &kp N9       &kp N0        &trans
                &trans &kp LS(N1)   &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &none   &trans &none  &none  &trans   &none &kp LS(N6) &kp LS(N7)    &kp LS(N8)   &kp LS(N9)   &kp LS(N0)    &trans
                &trans &kp LS(BSLH) &kp LBKT   &kp RBKT   &kp EQUAL  &kp LS(EQUAL)             &none  &none                 &kp MINUS  &kp LS(MINUS) &kp LS(LBKT) &kp LS(RBKT) &kp LS(GRAVE) &trans
                &none  &none        &none      &none      &none                  &trans &trans &none  &none &trans  &trans             &none         &none        &none        &none         &none
            >;
        };
        default_num {
            display-name = "Def-Num";
            bindings = <
                &none  &none  &none          &none          &none           &none &none                                            &none &none           &none      &none      &none      &none         &none
                &trans &none  &msc SCRL_LEFT &mmv MOVE_UP   &msc SCRL_RIGHT &none &none                                            &none &kp KP_MULTIPLY &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &trans
                &trans &none  &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none        &mkp 3 &none &none &mkp 3           &none &kp KP_DIVIDE   &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS   &trans
                &trans &none  &none          &msc SCRL_DOWN &none           &none                     &none &none                        &kp KP_DOT      &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N0     &trans
                &none  &none  &none          &none          &none                       &mkp 1 &mkp 2 &none &none &mkp 2 &mkp 1                          &none      &none      &none      &none         &none
            >;
        };
        default_med {
            display-name = "Def-Med";
            bindings = <
                &none  &none            &none                  &none          &none                 &none                  &none                                &none &none      &none         &none         &none            &none                &none
                &trans &kp C_AL_JOURNAL &kp C_AL_WORD          &kp C_AL_EMAIL &kp C_AL_TEXT_EDITOR  &kp C_AL_TASK_MANAGER  &none                                &none &kp C_RW   &kp C_PAUSE   &kp C_PLAY    &kp C_FF         &kp C_STOP_EJECT     &trans
                &trans &kp C_AL_CALC    &kp C_AL_SHEET         &kp C_AL_DOCS  &kp C_AL_FILES        &kp C_AL_TEXT_EDITOR   &none  &trans &none &none  &none     &none &kp C_PREV &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT       &kp C_MUTE           &trans
                &trans &kp C_AL_IMAGES  &kp C_AL_CONTROL_PANEL &kp C_AL_CAL   &kp C_AL_MUSIC        &kp C_AL_WWW                         &none &none                  &kp C_REC  &kp C_SHUFFLE &kp C_REPEAT  &kp C_CAPTIONS   &kp C_DATA_ON_SCREEN &trans
                &none  &none            &none                  &none          &none                                        &trans &trans &none &none &trans &trans               &none         &none         &none            &none                &none
            >;
        };
        default_mod {
            display-name = "Def-Mod";
            bindings = <
                &none       &none  &none  &none  &none  &none  &none                                       &none  &none         &none         &none         &none          &none        &none
                &bt BT_CLR  &pfl0  &pfl1  &pfl2  &pfl3  &pfl4  &none                                       &none  &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_CLR
                &bootloader &none  &none  &none  &none  &none  &none         &none &none &none &none       &none  &bl BL_TOG    &bl BL_DEC    &bl BL_INC    &bl BL_CYCLE  &bl BL_SET 5  &bootloader
                &sys_reset  &none  &none  &none  &none  &none                      &none &none                    &none         &bl BL_OFF    &bl BL_ON     &none         &none         &sys_reset
                &none       &none  &none  &none  &none                 &none &none &none &none &none &none                      &none         &none         &none         &none         &none
            >;
        };
        win_nav {
            display-name = "Nav-win";
            bindings = <
                &none    &none                &none              &none               &none           &none        &none                               &none  &none        &none           &none           &none          &none    &none
                &trans   &kp LA(F4)           &Win_Select_Word   &macro_kill_to_end  &kp LC(BSPC)    &kp LC(HOME) &none                               &none  &kp RC(LEFT) &kp RC(DOWN)    &kp RC(UP)      &kp RC(RIGHT)  &none    &trans
                &trans   &macro_kill_to_start &macro_select_line &macro_kill_line    &kp LC(DEL)     &kp LC(A)    &none  &trans &none &none &trans    &none  &kp LEFT     &kp DOWN        &kp UP          &kp RIGHT      &none    &trans
                &trans   &Win_Undo            &Win_Cut           &Win_Copy           &Win_Paste      &kp LC(END)                &none &none                  &kp HOME     &kp PG_DN       &kp PG_UP       &kp END        &none    &trans
                &none    &none                &none              &none               &none                        &trans &trans &none &none &trans &trans                 &none           &none           &none          &none    &none
            >;
        };
        mac_nav {
            display-name = "Nav-mac";
            bindings = <
                &none    &none                &none              &none               &none           &none        &none                               &none  &none        &none           &none           &none          &none    &none
                &trans   &kp LA(F4)           &Mac_Select_Word   &macro_kill_to_end  &kp LA(BSPC)    &kp LA(HOME) &none                               &none  &kp RA(LEFT) &kp RA(DOWN)    &kp RA(UP)      &kp RC(RIGHT)  &none    &trans
                &trans   &macro_kill_to_start &macro_select_line &macro_kill_line    &kp LA(DEL)     &kp LA(A)    &none  &trans &none &none &trans    &none  &kp LEFT     &kp DOWN        &kp UP          &kp RIGHT      &none    &trans
                &trans   &Mac_Undo            &Mac_Cut           &Mac_Copy           &Mac_Paste      &kp LA(END)                &none &none                  &kp RG(LEFT) &kp PG_DN       &kp PG_UP       &kp RG(RIGHT)  &none    &trans
                &none    &none                &none              &none               &none                        &trans &trans &none &none &trans &trans                 &none           &none           &none          &none    &none
            >;
        };
    };
#endif
};
